*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    --text-color:#fff;
}
body{
    text-align:center;
    font-size:1.3rem;
    text-transform: uppercase;
    height:100vh;
}
header,footer{
    height:15vh;
    background-color: black;
    color:var(--text-color);
    padding:1rem;
    margin:20px;
}
.clr{
    clear:both;
}
main{
    float:left;
    width:70%;
    height:70vh;
    color:crimson;
    padding:90px;
    margin:2rem;
}
aside{
    float:right;
    width:30%;
    height:70vh; 
    background-color: cornsilk;
    padding:90px;
    margin:2rem;
}

