*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    --text-color:#fff;
}
body{
    text-align:center;
    font-size:1.3rem;
    text-transform: uppercase;
    
}
.container{
    height:100vh;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 70% 15%;
    /* grid-row-gap:20px; */
}
header{
    grid-column: 1/3;
    grid-row:1/2;
   
}
footer{
    grid-column: 1/3;
    grid-row:3/4;
}
header,footer{
    background-color: black;
    color:var(--text-color);
    padding:1rem;
    margin:10px;
    border:2px solid darkorange;
    border-radius: 10px;
    
}
main{
    grid-column:2/3;
    grid-row:2/3;
    color:crimson;
    margin:20px;
    border:2px solid darkorange;
    border-radius: 10px;
    
}
aside{
    grid-column:1/2;
    grid-row:2/2;
    background-color: cornsilk;
    margin:20px;
    border:2px solid darkorange;
    border-radius: 10px;
}


